---
import type { CollectionEntry } from "astro:content";
import Giscus from "./Giscus.svelte";

interface Props {
	post: CollectionEntry<"posts">;
}
let commentService = "giscus";
---
<div class="card-base p-6 mb-4">
  {commentService === 'giscus' && <Giscus client:only="svelte"/>}
  {commentService === '' && null}
</div>