---
import { getCollection } from "astro:content";
import CourseCard from "@components/CourseCard.astro";
import MainGridLayout from "@layouts/MainGridLayout.astro";

const courses = await getCollection(
	"courses",
	({ data }) => data.type === "course" && !data.draft,
);
---

<MainGridLayout title="Courses">
	<div class="flex flex-col gap-8">
		{
			courses.map((course) => (
				<CourseCard course={course} />
			))
		}
	</div>
</MainGridLayout>
