---
import MainGridLayout from "@layouts/MainGridLayout.astro";
---

<MainGridLayout title="Courses">
    <h1 class="text-2xl font-bold">Courses</h1>
    <p>This is the courses page. It will list all available courses.</p>
</MainGridLayout>
